instagram-hashtag-workflow.json
{"nodes":[{"parameters":{"cronExpression":"0 14 * * 5"},"name":"Schedule","type":"n8n-nodes-base.cron","typeVersion":1,"position":[250,300]},{"parameters":{"resource":"hashtag","operation":"getAll","hashtag":"#innsbruck,#tirol,#bigdickenergy,#grablifebytheballs,#innsbruckfood"},"name":"Hashtag ID Lookup","type":"n8n-nodes-base.instagramGraphApi","typeVersion":1,"position":[400,300]},{"parameters":{"resource":"media","operation":"getAll","hashtagId":"={{$json[\"data\"][0][\"id\"]}}","limit":100},"name":"Fetch Posts","type":"n8n-nodes-base.instagramGraphApi","typeVersion":1,"position":[550,300]},{"parameters":{"operation":"sort","field":"engagement","limit":5},"name":"Score Posts","type":"n8n-nodes-base.function","typeVersion":1,"position":[700,300]},{"parameters":{"chatId":"@b6TH-HWEh9w4ZDJk","text":"=Top 5 Posts:\n{{$json[\"data\"]}}"},"name":"Send to Telegram","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[850,300]}],"connections":{"Schedule":{"main":[[{"node":"Hashtag ID Lookup","type":"main","index":0}]]},"Hashtag ID Lookup":{"main":[[{"node":"Fetch Posts","type":"main","index":0}]]},"Fetch Posts":{"main":[[{"node":"Score Posts","type":"main","index":0}]]},"Score Posts":{"main":[[{"node":"Send to Telegram","type":"main","index":0}]]}}}